MissionDb = {
	objectives = {
{% 		for objective_name, objective in obj["objectives"].items() %}
		{
			name = "{{objective_name}}",
			strand = "{{objective["strand"]}}",
			completeSound = "{{objective["completeSound"]}}",
			borderZones = {
{% 				for border_zone in objective["borderZones"] %}
				"{{border_zone}}",
{%				endfor %}
			},
			capZones = {
{% 				for cap_zone in objective["capZones"] %}
				"{{cap_zone}}",
{%				endfor %}
			},
			nodes = {
{% 				for node_name, node in objective["nodes"].items() %}
				{ name = "{{node_name}}", redSurrenderThreshold = {{node["redSurrenderThreshold"]}}, blueCaptureThreshold = {{node["blueCaptureThreshold"]}} },
{% 				endfor %}
			},
			tasks = {
{% 				for task_name in objective["tasks"] %}
{% 				set task = tasks[task_name] %}
				{
					name = "{{task_name}}",
					completeSound = "{{task["completeSound"]}}",
					auftrag = "{{task["auftrag"]}}",
					vehicleGroups = {
{%  					for group_name in task["vehicle_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					shipGroups = {
{%  					for group_name in task["ship_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					staticGroups = {
{%  					for group_name in task["static_groups"] %}
{%						set static = statics["red"][group_name] %}
						{
							name = "{{group_name}}#00001",
							template = {
								name = "{{static["name"]}}",
								type = "{{static["type"]}}",
								x = {{static["x"]}},
								y = {{static["y"]}},
								heading = {{static["heading"]}},
								category = "{{static["category"]}}",
								canCargo = {{static["canCargo"] | string | lower}},
								shape_name = "{{static["shape_name"]}}",
								rate = {{static["rate"] | default(50, true)}},
								dead = false
							}
						},
{% 						endfor %}
					}
				},
{% 				endfor %}
			},
			farps = {
{% 				for farp_name in objective["farps"] %}
{% 				set farp = farps[farp_name] %}
				{
					name = "{{farp_name}}",
					vehicleGroups = {
{%  					for group_name in farp["vehicle_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					shipGroups = {
{%  					for group_name in farp["ship_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					staticGroups = {
{%  					for group_name in farp["static_groups"] %}
{%						set static = statics["blue"][group_name] %}
						{
							name = "{{group_name}}#00001",
							template = {
								name = "{{static["name"]}}",
								type = "{{static["type"]}}",
								x = {{static["x"]}},
								y = {{static["y"]}},
								heading = {{static["heading"]}},
								category = "{{static["category"]}}",
								canCargo = {{static["canCargo"] | string | lower}},
								shape_name = "{{static["shape_name"]}}",
								rate = {{static["rate"] | default(50, true)}},
								dead = false
							}
						},
{% 						endfor %}
					},
					clients = {
{% 						set clients = farp_groups[farp_name] %}
{%  					for client_name in clients %}
							"{{client_name}}",
{% 						endfor %}
					}
				},
{% 				endfor %}
			},
			airbases = {
{% 				for airbase_name in objective["airbases"] %}
{% 				set airbase = airbases[airbase_name] %}
				{
					name = "{{airbase_name}}",
					vehicleGroups = {
{%  					for group_name in airbase["vehicle_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					shipGroups = {
{%  					for group_name in airbase["ship_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					staticGroups = {
{%  					for group_name in airbase["static_groups"] %}
{%						set static = statics["blue"][group_name] %}
						{
							name = "{{group_name}}#00001",
							template = {
								name = "{{static["name"]}}",
								type = "{{static["type"]}}",
								x = {{static["x"]}},
								y = {{static["y"]}},
								heading = {{static["heading"]}},
								category = "{{static["category"]}}",
								canCargo = {{static["canCargo"] | string | lower}},
								shape_name = "{{static["shape_name"]}}",
								rate = {{static["rate"] | default(50, true)}},
								dead = false
							}
						},
{% 						endfor %}
					},
					clients = {
{% 						set clients = airbase_groups[airbase["label"]] %}
{%  					for client_name in clients %}
							"{{client_name}}",
{% 						endfor %}
					}
				},
{% 				endfor %}
			},
			carriers = {
{% 				for carrier_name in objective["carriers"] %}
{% 				set carrier = carriers[carrier_name] %}
				{
					name = "{{carrier_name}}",
					clients = {
{% 						set clients = carrier_groups[carrier_name] %}
{%  					for client_name in clients %}
							"{{client_name}}",
{% 						endfor %}
					},
					waypoints = {
{%  					for waypoint in carrier["waypoints"] %}
						{ 
							x = {{waypoint["x"]}},
							y = {{waypoint["y"]}},
							speed = {{waypoint["speed"]}},
						},
{% 						endfor %}
					},
					tacan_channel = {{carrier["tacan_channel"]}},
					radio = {{carrier["radio"]}},
					link4 = {{carrier["link4"] | default("nil", true)}},
					icls_channel = {{carrier["icls_channel"] | default("nil", true)}},
				},
{% 				endfor %}
			},
			qrfs = {
{% 				for qrf_name in objective["qrfs"] %}
{% 				set qrf = qrfs[qrf_name] %}
				{
					name = "{{qrf_name}}",
					spawnGroups = {
{% 						for spawn_name in qrf["vehicleQrfTemplates"] %}
						{ name = "{{spawn_name}}" },
{%						endfor %}
					},
					vehicleGroups = {
{%  					for group_name in qrf["vehicle_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					shipGroups = {
{%  					for group_name in qrf["ship_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					staticGroups = {
{%  					for group_name in qrf["static_groups"] %}
{%						set static = statics["red"][group_name] %}
						{
							name = "{{group_name}}#00001",
							template = {
								name = "{{static["name"]}}",
								type = "{{static["type"]}}",
								x = {{static["x"]}},
								y = {{static["y"]}},
								heading = {{static["heading"]}},
								category = "{{static["category"]}}",
								canCargo = {{static["canCargo"] | string | lower}},
								shape_name = "{{static["shape_name"]}}",
								rate = {{static["rate"] | default(50, true)}},
								dead = false
							}
						},
{% 						endfor %}
					},
				},
{% 				endfor %}
			},
			reinforcements = {
{% 				for reinforcement_name in objective["reinforcements"] %}
{% 				set reinforcement = reinforcements[reinforcement_name] %}
				{
					name = "{{reinforcement_name}}",
					spawnGroups = {
{% 						for spawn_name in reinforcement["vehicleReinforcementTemplates"] %}
						{ name = "{{spawn_name}}" },
{%						endfor %}
					},
					vehicleGroups = {
{%  					for group_name in reinforcement["vehicle_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					shipGroups = {
{%  					for group_name in reinforcement["ship_groups"] %}
						{ name = "{{group_name}}" },
{% 						endfor %}
					},
					staticGroups = {
{%  					for group_name in reinforcement["static_groups"] %}
{%						set static = statics["blue"][group_name] %}
						{
							name = "{{group_name}}#00001",
							template = {
								name = "{{static["name"]}}",
								type = "{{static["type"]}}",
								x = {{static["x"]}},
								y = {{static["y"]}},
								heading = {{static["heading"]}},
								category = "{{static["category"]}}",
								canCargo = {{static["canCargo"] | string | lower}},
								shape_name = "{{static["shape_name"]}}",
								rate = {{static["rate"] | default(50, true)}},
								dead = false
							}
						},
{% 						endfor %}
					},
				},
{% 				endfor %}
			},
			vehicleGroups = {
{%  			for group_name in objective["vehicle_groups"] %}
				{ name = "{{group_name}}" },
{% 				endfor %}
			},
			shipGroups = {
{%  			for group_name in objective["ship_groups"] %}
				{ name = "{{group_name}}" },
{% 				endfor %}
			},
			staticGroups = {
{%  			for group_name in objective["static_groups"] %}
{%				set static = statics["red"][group_name] %}
				{
					name = "{{group_name}}#00001",
					template = {
						name = "{{static["name"]}}",
						type = "{{static["type"]}}",
						x = {{static["x"]}},
						y = {{static["y"]}},
						heading = {{static["heading"]}},
						category = "{{static["category"]}}",
						canCargo = {{static["canCargo"] | string | lower}},
						shape_name = "{{static["shape_name"]}}",
						rate = {{static["rate"] | default(50, true)}},
						dead = false
					}
				},
{% 				endfor %}
			}
		},
{% 		endfor %}
	},
	strands = {
{% 		for strand_name, strands in obj["strands"].items() %}
		{
			name = "{{strand_name}}",
			sequence = {
{% 				for objective_name in strands %}
				"{{objective_name}}",
{% 				endfor %}
				},
			},
{% 		endfor %}
	},
	ctld = {
		groups = {
{% 		for ctld_group in ctld_groups %}
			"{{ctld_group}}",
{% 		endfor %}
		}
	},
	csar = {
		groups = {
{% 		for csar_group in csar_groups %}
			"{{csar_group}}",
{% 		endfor %}
		}
	},
	autolase = {},
	playerRecce = {},
	strandtasks = {},
	samnetwork = {},
	redchief = {
	    airwings = {
{%  		for airwing_name, airwing in red_airwings.items() %}
			{
				name = "{{airwing_name}}",
				warehouse = "{{airwing["warehouse"]}}",
				airbase = "{{airwing["airbase"]}}",
				squadrons = {
{%  				for squadron_name, squadron in airwing["squadrons"].items() %}
					{
						name = "{{squadron_name}}",
						templateGroupName = "{{squadron["groupName"]}}",
						initialInventory = {{squadron["initialInventory"]}},
						takeoffCold = {{squadron["takeoffCold"] | default("false", true)}},
						capabilities = {
{% 						for mission, performance in squadron["capabilities"].items() %}
							{ mission = {{mission}}, performance = {{performance}} },
{% 						endfor %}
						},
						livery = "{{squadron["livery"]}}",
						payloads = {
{%  						for group_name, loadout in squadron["loadoutGroups"].items() %}
							{
								templateGroupName = "{{group_name}}",
								missionTypes = {{loadout}}
							},
{% 							endfor %}
						}
					},
{% 					endfor %}
				}
			},
{% 			endfor %}
		},
		brigades = {
{%  		for brigade_name, brigade in red_brigades.items() %}
			{
				name = "{{brigade_name}}",
				warehouse = "{{brigade["warehouse"]}}",
				platoons = {
{%  				for platoon_name, platoon in brigade["platoons"].items() %}
					{
						name = "{{platoon_name}}",
						templateGroupName = "{{platoon["groupName"]}}",
						initialInventory = {{platoon["initialInventory"]}},
						capabilities = {
{% 						for mission, performance in platoon["capabilities"].items() %}
							{ mission = {{mission}}, performance = {{performance}} },
{% 						endfor %}
						},
					},
{% 					endfor %}
				}
			},
{% 			endfor %}
		}
	},
	bluechief = {
	    airwings = {
{%  		for airwing_name, airwing in blue_airwings.items() %}
			{
				name = "{{airwing_name}}",
				warehouse = "{{airwing["warehouse"]}}",
				airbase = "{{airwing["airbase"]}}",
				squadrons = {
{%  				for squadron_name, squadron in airwing["squadrons"].items() %}
					{
						name = "{{squadron_name}}",
						templateGroupName = "{{squadron["groupName"]}}",
						initialInventory = {{squadron["initialInventory"]}},
						takeoffCold = {{squadron["takeoffCold"] | default("false", true)}},
						capabilities = {
{% 						for mission, performance in squadron["capabilities"].items() %}
							{ mission = {{mission}}, performance = {{performance}} },
{% 						endfor %}
						},
						livery = "{{squadron["livery"]}}",
						payloads = {
{%  						for group_name, loadout in squadron["loadoutGroups"].items() %}
							{
								templateGroupName = "{{group_name}}",
								missionTypes = {{loadout}}
							},
{% 							endfor %}
						}
					},
{% 					endfor %}
				}
			},
{% 			endfor %}
		},
		brigades = {
{%  		for brigade_name, brigade in blue_brigades.items() %}
			{
				name = "{{brigade_name}}",
				warehouse = "{{brigade["warehouse"]}}",
				platoons = {
{%  				for platoon_name, platoon in brigade["platoons"].items() %}
					{
						name = "{{platoon_name}}",
						templateGroupName = "{{platoon["groupName"]}}",
						initialInventory = {{platoon["initialInventory"]}},
						capabilities = {
{% 						for mission, performance in platoon["capabilities"].items() %}
							{ mission = {{mission}}, performance = {{performance}} },
{% 						endfor %}
						},
					},
{% 					endfor %}
				}
			},
{% 			endfor %}
		}
	},
	units = {},
	industry = {
		percentage = 100,
		active = 0
	},
	devmode = {{ devmode | string | lower }},
	lateActivateStatics = {{ late_activate_statics | string | lower }},
	enableConvoys = true,
	missionName = "{{missionName}}",
	settings = {
		blueCasevacChance = 10,
		blueConvoyMission = {
			minStart = 1800,
			maxStart = 3600,
			repeatAfter = 3600
		},
		redQrfMission = {
			minStart = 1800,
			maxStart = 3600,
			repeatAfter = 3600,
			industryDelay = 1800
		},
		redChiefAirMission = {
			minStart = 300,
			maxStart = 600,
			repeatAfter = 2700
		},
		redAirwingReinforcement = {
			minStart = 120,
			maxStart = 120,
			repeatAfter = 3600,
			industryDelay = 1800
		},
		redBrigadeReinforcement = {
			minStart = 120,
			maxStart = 120,
			repeatAfter = 3600,
			industryDelay = 1800
		},
	}
}
